
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">  العنــــوان : {{material.title}} </h3>
      <p class="text-muted"> تاريخ الرصـــــد : {{material.monitorDate |date: "fullDate"}}  </p>
      <p class="text-muted">  اللغـــــة:  {{material.language}} </p>
      <p class="text-muted"> القســــــم:  {{material.section}} </p>
      <p class="text-muted"> الرابـــــط : {{material.url}}  </p>
      <p class="text-muted"> المؤلـــــف :{{material.author}}   </p>
      <br/>
      <!-- <p> المرفقات : {{material.attachments}} </p>
      <img [src]= "material.attachments"  class="text-muted">   -->


    </div>
  </div>
