<!--  A form has been applie the validation on it 
Like the maximum length or specific file extension or
Specific date ..
Also disabled the button until the form valid 
-->
<form #myForm="ngForm" (ngSubmit)="onAddMaterial(myForm)" >
<div class="mb-3">
    <label class="form-label"> تاريخ الرصد</label>
    <input  #monitorDate="ngModel"  ngModel name="monitorDate"  required type="date" class="form-control"  placeholder="Input placeholder" min="1900-01-01"  >
    <span class="help-block" *ngIf="!monitorDate.valid && monitorDate.touched">
      الرجاء ادخال تاريخ الرصد 
    </span>
  </div>

  <div class="mb-3">
    <div class="form-label">اللغة</div>
    <select class="form-select" required ngModel name="language" #language="ngModel" >
      <option value="عربي">عربي</option>
      <option value="انجليزي">انجليزي</option>
    </select>
    <span class="help-block" *ngIf="!language.valid && language.touched">
      الرجاء ادخال اللغة  
    </span>
  </div>

  <div class="mb-3">
    <div class="form-label">القسم</div>
    <select class="form-select" required ngModel name="section"  #section="ngModel" >
      <option value="سياسي">سياسي</option>
      <option value="اجتماعي">اجتماعي</option>
      <option value="رياضي">رياضي</option>  
    </select>
    <span class="help-block" *ngIf="!section.valid && section.touched">
      الرجاء ادخال القسم  
    </span>
  </div>

  <div class="mb-3">
    <label class="form-label"> الرابط</label>
    <input #url="ngModel" type="url" class="form-control" required maxlength="100" ngModel name="url"  placeholder="فضلا ادخل الرابط" > 
    <span class="help-block" *ngIf="!url.valid && url.touched">
           الرجاء ادخال الرابط  
    </span>
  </div>
  
  <div class="mb-3">
    <label class="form-label"> المؤلف</label>
    <input  #author="ngModel"  type="text" class="form-control" required maxlength="50" ngModel name="author" placeholder="فضلا ادخل اسم المؤلف">
    <span class="help-block" *ngIf="!author.valid && author.touched">
      الرجاء ادخال المؤلف  
    </span>
  </div>

  <div class="mb-3">
    <label class="form-label"> المرفقات</label>
    <input  #attachments="ngModel" type="file" class="form-control" ngModel name="attachments" placeholder="فضلا ادخل المرفقات" accept=".pdf,.png">
    <span class="help-block" *ngIf="!attachments.valid && attachments.touched">
      الرجاء ارفاق المرفقات 
    </span>
    <p>  الصيغ المسموح بها   - pdf , png  </p>
  </div>

  <div class="mb-3">
    <label class="form-label"> العنوان</label>
    <input   #title="ngModel"  type="text" class="form-control" required maxlength="150" ngModel name="title"  placeholder="فضلا ادخل العنوان">
    <span class="help-block" *ngIf="!title.valid && title.touched">
      الرجاء ادخال العنوان  
    </span>
  </div>

  <div class="mb-3">
    <label class="form-label"> المحتوى</label>
    <input   #content="ngModel"  type="text" class="form-control" required maxlength="1000" ngModel name="content"  placeholder="فضلا ادخل المحتوى">
    <span class="help-block" *ngIf="!content.valid && content.touched">
      الرجاء ادخال المحتوى  
    </span>
  </div>
  <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary" >إضافه المادة </button>
  
</form>